.main {
  width: 60vw;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  -webkit-backdrop-filter: blur(12.8px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

@media (max-width: 480px) {
  .main{
    font-size: 14px;
  }
}