.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: black;
    height: 10vh;
    gap: 60px;
    background-color: #FAFAFA;
    padding-bottom: 8px;
    
}

.logo{
    width: 160px;
    height: 70px;
}

.logoImg{
    width: 160px;
    height: 70px;
}

.navElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}

.navlinks{
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .main{
        gap: 30px;
        padding-right: 20px;
    }
    .navlinks{
        font-size: 20px;
        
    }
    .navElements{
        
        gap: 10px;
        padding-top: 30px;
    }
}

@media (max-width:376px) {
    .navlinks{
        font-size: 18px;
        
    }
    .navElements{
        
        gap: 10px;
        padding-top: 50px;
    }
}